NET "JOY_OUT<0>" LOC="R4";
NET "JOY_OUT<1>" LOC="F4";
NET "JOY_OUT<2>" LOC="P15";
NET "JOY_OUT<3>" LOC="E17";
NET "JOY_OUT<4>" LOC="K14";
NET "JOY_OUT<5>" LOC="K15";
NET "JOY_OUT<6>" LOC="J15";
NET "JOY_OUT<7>" LOC="J14";

NET "JOY_IN<0>" LOC="M13";
NET "JOY_IN<1>" LOC="R18";
NET "JOY_IN<2>" LOC="R15";
NET "JOY_IN<3>" LOC="T17";
NET "JOY_IN<4>" LOC="P17";
NET "JOY_IN<5>" LOC="R16";
NET "JOY_IN<6>" LOC="T18";
NET "JOY_IN<7>" LOC="U18";

