NET "CLK50MHz" LOC = "B8";
CONFIG PROHIBIT="U9"; #other clock source

#PRESS UNPRESS
#NET "LEDS<0>" LOC="R4";
#NET "LEDS<1>" LOC="F4";
#NET "LEDS<2>" LOC="P15";
#NET "LEDS<3>" LOC="E17";
#NET "LEDS<4>" LOC="K14";
#NET "LEDS<5>" LOC="K15";
#NET "LEDS<6>" LOC="J15";
#NET "LEDS<7>" LOC="J14";

NET "PRESS" LOC="K14";
NET "UNPRESS" LOC="K15";
CONFIG PROHIBIT="R4","F4","P15","E17",          "J15","J14"; #LEDS

NET "PS2_CLK" LOC="R12";
NET "PS2_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PS2_DATA" LOC="P11";