# clk 50MHz
NET "TEST" LOC = "M13";
#NET "TEST" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "T9" LOC = "T9";
# switches
#NET "BUTTONS<0>" LOC = "F12";
#NET "BUTTONS<1>" LOC = "G12";
#NET "BUTTONS<2>" LOC = "H14";
#NET "BUTTONS<3>" LOC = "H13";
#NET "BUTTONS<4>" LOC = "J14";
#NET "BUTTONS<5>" LOC = "J13";
#NET "BUTTONS<6>" LOC = "K14";
#NET "BUTTONS<7>" LOC = "K13";
#leds
NET "LEDS<0>" LOC = "K12";
NET "LEDS<1>" LOC = "P14";
NET "LEDS<2>" LOC = "L12";
NET "LEDS<3>" LOC = "N14";
NET "LEDS<4>" LOC = "P13";
NET "LEDS<5>" LOC = "N12";
NET "LEDS<6>" LOC = "P12";
NET "LEDS<7>" LOC = "P11";



NET "z80_a<11>" LOC="D5"| IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<12>" LOC="C5"| IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<13>" LOC="D6"| IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<14>" LOC="C6"| IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<15>" LOC="E7"| IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_clk"  LOC="C7" | IOSTANDARD = LVTTL;
#NET "z80_d<4>" LOC="D7" | IOSTANDARD = LVTTL;
#NET "z80_d<3>" LOC="C8" | IOSTANDARD = LVTTL;
#NET "z80_d<5>" LOC="D8" | IOSTANDARD = LVTTL;
#NET "z80_d<6>" LOC="C9" | IOSTANDARD = LVTTL;
#oate 11 z80 Vcc
#NET "z80_d<2>" LOC="D10" | IOSTANDARD = LVTTL;
#NET "z80_d<7>" LOC="A3" | IOSTANDARD = LVTTL;
#NET "z80_d<0>" LOC="B4" | IOSTANDARD = LVTTL;
#NET "z80_d<1>" LOC="A4" | IOSTANDARD = LVTTL;
#NET "z80_int" LOC="B5" | IOSTANDARD = LVTTL;
#17 nmi
#18 HALT
NET "z80_mreq" LOC="A5"| IOSTANDARD = LVTTL | PULLUP;
#NET "z80_ioreq" LOC="B6"| IOSTANDARD = LVTTL;



NET "z80_rd" LOC="B7"| IOSTANDARD = LVTTL | PULLUP;
#NET "z80_wr" LOC="A7"| IOSTANDARD = LVTTL;
#23 busack
#24 wait
#25 busreq
#26 reset
#NET "z80_m1" LOC="B8"| IOSTANDARD = LVTTL;
#28 rfsh
#29 gnd
NET "z80_a<0>" LOC="A8"| IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<1>" LOC="A9" | IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<2>" LOC="B10" | IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<3>" LOC="A10" | IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<4>" LOC="B11" | IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<5>" LOC="B12" | IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<6>" LOC="A12" | IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<7>" LOC="B13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<8>" LOC="A13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<9>" LOC="B14" | IOSTANDARD = LVTTL | PULLDOWN;
NET "z80_a<10>" LOC="E6"| IOSTANDARD = LVTTL | PULLDOWN; #audio


CONFIG PROHIBIT="D7","C8","D8","C9","D10","A3","B4","A4","B5","B6","A7","B8";

CONFIG PROHIBIT="D9","B3","R14","N9","T15","A14","M11";