NET "CLK50MHz" LOC = "B8";

NET "LEDS<8>" LOC="R4";
NET "LEDS<9>" LOC="F4";
NET "LEDS<10>" LOC="P15";
NET "LEDS<11>" LOC="E17";
NET "LEDS<12>" LOC="K14";
NET "LEDS<13>" LOC="K15";
NET "LEDS<14>" LOC="J15";
NET "LEDS<15>" LOC="J14";

NET "FX2BB<1>" LOC="B4";
NET "FX2BB<2>" LOC="A4";
NET "FX2BB<3>" LOC="C3";
NET "FX2BB<4>" LOC="C4";
NET "FX2BB<5>" LOC="B6";
NET "FX2BB<6>" LOC="D5";
NET "FX2BB<7>" LOC="C5";
NET "FX2BB<8>" LOC="F7";
NET "FX2BB<9>" LOC="E7";
NET "FX2BB<10>" LOC="A6";
NET "FX2BB<11>" LOC="C7";
NET "FX2BB<12>" LOC="F8";
NET "FX2BB<13>" LOC="D7";
NET "FX2BB<14>" LOC="E8";
NET "FX2BB<15>" LOC="E9";
NET "FX2BB<16>" LOC="C9";
NET "FX2BB<17>" LOC="A8";
NET "FX2BB<18>" LOC="G9";
NET "FX2BB<19>" LOC="F9";
NET "FX2BB<20>" LOC="D10";
NET "FX2BB<21>" LOC="A10";
NET "FX2BB<22>" LOC="B10";
NET "FX2BB<23>" LOC="A11";
NET "FX2BB<24>" LOC="D11";
NET "FX2BB<25>" LOC="E10";
NET "FX2BB<26>" LOC="B11";
NET "FX2BB<27>" LOC="C11";
NET "FX2BB<28>" LOC="E11";
NET "FX2BB<29>" LOC="F11";
NET "FX2BB<30>" LOC="E12";
NET "FX2BB<31>" LOC="F12";
NET "FX2BB<32>" LOC="A13";
NET "FX2BB<33>" LOC="B13";
NET "FX2BB<34>" LOC="E13";
NET "FX2BB<35>" LOC="A14";
NET "FX2BB<36>" LOC="C14";
NET "FX2BB<37>" LOC="D14";
NET "FX2BB<38>" LOC="B14";
NET "FX2BB<39>" LOC="A16";
NET "FX2BB<40>" LOC="B16";

