# clk 50MHz
NET "T9" LOC = "T9";
# switches
NET "BUTTONS<0>" LOC = "F12";
NET "BUTTONS<1>" LOC = "G12";
NET "BUTTONS<2>" LOC = "H14";
NET "BUTTONS<3>" LOC = "H13";
NET "BUTTONS<4>" LOC = "J14";
NET "BUTTONS<5>" LOC = "J13";
NET "BUTTONS<6>" LOC = "K14";
NET "BUTTONS<7>" LOC = "K13";
#leds
NET "LEDS<0>" LOC = "K12";
NET "LEDS<1>" LOC = "P14";
NET "LEDS<2>" LOC = "L12";
NET "LEDS<3>" LOC = "N14";
NET "LEDS<4>" LOC = "P13";
NET "LEDS<5>" LOC = "N12";
NET "LEDS<6>" LOC = "P12";
NET "LEDS<7>" LOC = "P11";
